#OOP244 custom
./in-lab/cmake-build-debug/
./at-home/cmake-build-debug/
diff.txt
error.txt
output.txt

#codelite
.clang/
.codelite/
Debug/

# Visual Studio
*.sdf
*.sln
*.user
*.suo
*.opensdf
*.opendb
*.db
Debug/
ipch/
x64/
.vs/
*.vcxprog*

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
